*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anant{
    border: 2px solid red;
    height: 800px;
    width: 800px;
}
.image
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}